<% provide :title, t(".title") %>
<h1><%= t ".header"%></h1>
<p>
  <%= t ".the"%> <a href="http://www.railstutorial.org/">
    <em><%= t ".book"%></em></a> <%= t ".isa"%>
  <a href="http://www.railstutorial.org/book"><%= t ".screencast"%></a>
  <a href="http://screencasts.railstutorial.org/"><%= t ".rails"%></a>
  <%= t ".teach"%>
  <a href="http://rubyonrails.org/"><%= t ".tutorial"%></a>.
  <%= t ".tutorial"%>
</p>
